@charset "UTF-8";

body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    background-image: linear-gradient(to top, #FFFFFF, #9BC0FF);
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1, h2 {
    color: #ffffff;
    text-align: center;
}

p {
    margin: 20px;
    text-align: justify;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

a {
    color: #d1284f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #333;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #d1284f;
}

img {
    max-height: 300px; 
    width: auto;
    display: block;
    margin: 0 auto;
}

.imagem {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d1284f;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px auto;
    text-align: center;
}

.button:hover {
    background-color: #a6203b;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

#rodape {
    font-size: 10px;
    text-align: center;
}

@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    h1, h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 0.9em;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    .button {
        width: 80%;
    }
}
